@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&family=Raleway:wght@300&family=Roboto:wght@300&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* background-color: #d2dbdd; */
  font-family: 'Josefin Sans', 'Arial Narrow', Arial, sans-serif ;
}

.hd_div{
  margin: 20px;
  padding: 20px;
  background-color: #e2c71a;
  color: aliceblue;
  height: 100px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border-radius: 10px;
}
.hd_div h1 span{
  margin: 10px;
}
footer{
  margin: 20px;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  /* float:none; */
}
.form_div{
  margin: 20px;
  display: grid;
  justify-content: center;
}
/* 
form{
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 100%;
  padding: 10px;
}
.btn_plus{
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.note-input {
  /* width: ; */
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.note-title {
  font-size: 18px;
  font-weight: bold;
  border: none;
  width: 100%;
  margin: 10px 0;
  outline: none;
}

.note-content {
  font-size: 14px;
  border: none;
  width: 100%;
  resize: none;
  margin-bottom: 30px; 
  outline: none;
}

.add-button {
  position: absolute; 
  bottom: 10px; 
  right: 10px;
  height: 30px;
  width: 30px;
  background-color: transparent;
  color: #e2c71a;
  border: 1px solid #e2c71a;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.note{
  
  position: relative;
  /* float: left; */
  margin: 20px;
  display: inline-block;
}

.add-button:hover {
  background-color: #e2c71a;
  color: white;
  border: none;
}

.btn{
  color: #e2c71a;
  position: absolute;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;

}
.btn:hover {
  background-color: #e21a1a;
  color: white;
  border: none;
  border-radius: 8px;
}